<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banquets Beauty-AFM - Eventos y Catering</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Banquets Beauty-AFM</h1>
            </div>
            <nav>
                <ul>
                    <li class="selected"><a href="#inicio">Inicio</a></li>
                    <li><a href="#quienes-somos">Quiénes Somos</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#galeria">Galería</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                    <li class="selected"><a href="#menu">Menú de Banquetes</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="inicio" class="showcase">
        <div class="container">
            <h1>Welcome to Banquets Beauty-AFM</h1>
            <p>Somos especialistas en catering para eventos, shows y conciertos.</p>
        </div>
    </section>

    <section id="quienes-somos" class="section">
        <div class="container">
            <h2>Quiénes Somos</h2>
            <p>Somos una empresa dedicada a crear experiencias culinarias excepcionales para una variedad de eventos. Desde bodas íntimas hasta grandes conciertos y eventos corporativos, nos especializamos en hacer de cada ocasión un momento memorable.</p>
        </div>
    </section>

    <section id="servicios" class="section">
        <div class="container">
            <h2>Servicios</h2>
            <p>Ofrecemos una amplia gama de servicios de catering personalizados, adaptados a las necesidades específicas de cada evento. Nuestro objetivo es superar las expectativas de nuestros clientes con cada bocado.</p>


        </div>
    </section>
    <section id="menu" class="menu">
        <div class="container">
            <h2>Menú de Banquetes</h2>
            
            <div class="menu-item">
                <img src="/static/images/Banquete_primavera.png" alt="Banquete 1">
                <div class="menu-description">
                    <h3>Banquete de Primavera</h3>
                    <p>Disfruta de una selección de platos frescos y ligeros, perfectos para eventos al aire libre. Incluye ensaladas, mariscos frescos y opciones vegetarianas.</p>
                </div>
            </div>

            <div class="menu-item">
                <img src="/static/images/Banquete_mediterraneo.png" alt="Banquete 2">
                <div class="menu-description">
                    <h3>Banquete Mediterráneo</h3>
                    <p>Sumérgete en los sabores del Mediterráneo con este banquete que ofrece delicias como paella, tapas, pescados y mariscos frescos.</p>
                </div>
            </div>

            <div class="menu-item">
                <img src="/static/images/Banquete_inverno calido.png" alt="Banquete 3">
                <div class="menu-description">
                    <h3>Banquete de Invierno Cálido</h3>
                    <p>Perfecto para eventos en temporada fría, este banquete ofrece platos reconfortantes como guisos, carnes asadas y postres calientes.</p>
                </div>
            </div>

        </div>
    </section>

    
    <section id="galeria" class="image-gallery">
        <div class="container">
            <h2>Galería de Eventos</h2>
            <div class="gallery">
                <div class="gallery-item">
                    <img src="/static/images/Banquets1.png" alt="Imagen 1">
                </div>
                <div class="gallery-item">
                    <img src="/static/images/Banquets2.png" alt="Imagen 2">
                </div>
                <div class="gallery-item">
                    <img src="/static/images/Banquets3.png" alt="Imagen 3">
            </div>
        </div>
    </section>

    <section id="contacto" class="section">
        <div class="container">
            <h2>Contacto</h2>
<a href="D:\myproject\myapp\templates\myapp\Contacto.html"> 
            <img src="\static\images\Yo.png" alt="Contacto">
        </a>
            <p>Para más información o para reservar nuestros servicios, no dudes en ponerte en contacto conmigo a través de la imagen </p>
            
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Derechos de autor &copy; 2024 Banquets Beauty-AFM</p>
        </div>
    </footer>
</body>
</html>
