<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="Estylos_contactos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <div class="container">
        <h1>Contacto</h1>
        <div class="contact-info">
            <p>Puedes contactarme a través de los siguientes medios:</p>
            <p>Teléfono: <a href="5543527601">5543527601</a></p>
            <p>WhatsApp: 
                <a href="https://wa.me/5543537601" target="_blank">
                    <img src="C:/Users/monse/Desktop/Trabajos_Jaim_Minor/whatsapp.jpeg" alt="WhatsApp" class="icon"> 5543537601
                </a>
                <a
            </p>
            <p>Correo Electrónico: <a href="mailto:m.tlali.a132@edu.utc.mx">Tlali Alfonso Monserrath</a></p>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/monse.alfonso.7330?mibextid=LQQJ4d" target="_blank" class="fab fa-facebook"></a>
            <a href="https://www.instagram.com/tu_perfil" target="_blank" class="fab fa-instagram"></a>
        </div>
        <div class="contact-form">
            <form action="https://tu_servidor_para_procesar_formulario" method="post">
                <input type="text" name="name" placeholder="Nombre" required>
                <input type="email" name="email" placeholder="Correo Electrónico" required>
                <textarea name="message" placeholder="Mensaje" rows="5" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>