<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medio Angular  </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="stylos.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href=" https://medioangular.com/#1517565205128-e85e5f4b-a4ea" > <B>  MEDIO ANGULAR </B></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="Pageprincipal.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://medioangular.com/"> Who we?  </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://medioangular.com/#services-heading" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Servicies
              </a>
              <ul class="dropdown-menu">
                               <li><a class="dropdown-item" href="https://medioangular.com/#services-heading">Renta de estudio </a></li>
                <li><a class="dropdown-item" href="https://medioangular.com/#1517565205128-e85e5f4b-a4ea" > Renta de equipo </a></li>
                <li> <a class="dropdown-item " href="D:\myproject\myapp\templates\myapp\Banquets_BeautyAFM.html"> Banquetes Beauty-AFM </a> </li>
              </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="\static\images\ímage7.png" class="d-block w-100" alt="Firs show ">
        </div>
        <div class="carousel-item">
          <img src="\static\images\image8.png" class="d-block w-100" alt="Second show ">
        </div>
        <div class="carousel-item">
          <img src="\static\images\image6.png" class="d-block w-100" alt="Thirth show ">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>

    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="\static\images\image2.png"class="card-img-top" alt="Gadget 1">
            <div class="card-body">
              <h5 class="card-title"> <b>EDC </b></h5>
              <p class="card-text">Todos son los eventos centrados en la distancia de la mirada y el suavisar de la prunfidad de los sentidos del sonidos que provoca nuestro equipo .</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Actualizado hace 3 minutos</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="\static\images\image4.png"class="card-img-top" alt="Software 1">
            <div class="card-body">
              <h5 class="card-title"> <b> HSBC MONTERREY</b>  </h5>
              <p class="card-text">Siempre teniendo la mejor confidencialidad en la discrecion de eventos privados, e importantes, el sonido saldra al momento, las voces se quedan dentro </p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Actualizado hace 10 minutos</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="\static\images\image5.png" class="card-img-top" alt="Innovación 1">
            <div class="card-body">
              <h5 class="card-title"><B> HOTEL SOAFITEL av Reforma </B></h5>
              <p class="card-text">Creando la mejor vista de nuestros clientes junto con nuestro equipo de pantalla actualizadas, siempre ofreciendo el mejor equipo del medio</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Actualizado hace 5 minutos</small>
            </div>
          </div>
        </div>
       
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
       <h4> RECOMENDACIONES</h4>
      </div>
      <div class="card-body">
        <div class="card-header">
          <h4> Mas...</h4>
         </div>
              <p class="card-text">Aqui podras encontrar mas información acerca de nuestros equipos disponibles para renta, y cotizaciones para poder crear gusto en tus eventos </p>
        <a href="#" class="btn btn-primary">Leer más</a>
      </div>
    </div>

    <footer class="footer mt-4 bg-dark text-white text-center py-3">
      <div class="container">
        <p>&copy; 2024. Todos los derechos, creditos, reservados y dados a Terminal Creativa.</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
